{% extends "base.html" %}
{% block content %}

<div class="auth-container mt-5">
    <h2 class="auth-title">Login</h2>
    <div id="message"></div>
    <form id="loginForm">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <p class="text-center mt-3">
            Don't have an account?
            <a href="/register_page">Register</a>
        </p>
    </form>
</div>

{% endblock content %}