body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background: #f4f6f9;
}
.home-card {
    max-width: 800px;
    margin: 70px auto;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}
.login-card {
    max-width: 400px;
    margin: 70px auto;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.register-card {
    max-width: 400px;
    margin: 70px auto;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* results */
/* .wrapper {
    min-height: 100vh;
    background: rgba(255,255,255,0.45);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
} */

.wrapper {
    max-width: 800px;
    margin: 70px auto;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 { text-align: center; margin-top: 0; }
label { display: block; margin-top: 12px; }
input[type="file"] { width: 100%; padding: 8px; }
button {
    margin-top: 16px; padding: 10px;
    width: 100%; border-radius: 4px;
    border: none; background: #007bff; color: #fff;
    cursor: pointer;
}
.message { margin-top: 12px; }
.success { color: green; }
.error { color: red; }

/* Table styling */
table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
    background: white;
}
table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}
table th {
    background: #007bff;
    color: white;
    text-align: left;
}

.footer { text-align: center; margin-top: 20px; }
a { color: #007bff; }